<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314803437249-oa0mh7u91ek8cfdbnum30gfehi73shpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314803437249-oa0mh7u91ek8cfdbnum30gfehi73shpv</string>
	<key>API_KEY</key>
	<string>AIzaSyAT4UGdrkAcvgfAxas7OmiZseay3NfUc8g</string>
	<key>GCM_SENDER_ID</key>
	<string>314803437249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-dbb0d</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-dbb0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314803437249:ios:11da77b3109a263a9ade40</string>
</dict>
</plist>